
/*make sure menu items are always infront*/
.menu-item a,
.logo-desktop {
    z-index: 999999;
}

li.portfolio-menu-item a {
    position:fixed;
    top:0;
    bottom:0;
    height:60px;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
    right:20px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

li.about-menu-item a {
    position:fixed;
    right:0;
    left:0;
    width:80px;
    margin-left:auto;
    margin-right:auto;
    bottom:120px;
    display:none;
}

.display-block {
    display:block !important;
}

li.journal-menu-item a {
    position:fixed;
    top:0;
    bottom:0;
    height:60px;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;    
    left:20px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);    
}

li.current-menu-item a {
    text-decoration: underline;
}

ul#menu-main {
    list-style-type: none;
}

.logo-desktop {
    position:fixed;
    bottom:20px;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    height: 10%;
    background-image: url('images/logo.png');
    background-repeat:no-repeat;
    background-size: contain ;
}

.logo-desktop.dark {
    background-image: url('images/logo-light.png');
}

.logo-desktop.light {
    background-image: url('images/logo.png');
}

/*change color on background change*/

ul#menu-main.dark li a {
    color:#FFFCF6;
}

ul#menu-main.light li a {
    color:#000;
}