

li.journal-menu-item a {
    position:fixed;
    top:0;
    bottom:0;
    height:60px;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
    right:20px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

li.about-menu-item a {
    position:fixed;
    right:0;
    left:0;
    width:60px;
    margin-left:auto;
    margin-right:auto;
    bottom:120px;
}

li.portfolio-menu-item a {
    position:fixed;
    top:0;
    bottom:0;
    height:60px;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;    
    left:20px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);    
}

li.current-menu-item a {
    text-decoration: underline;
}

ul#menu-main {
    list-style-type: none;
}

img#logo {
    position:fixed;
    bottom:20px;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    width: 300px;
}
